<!--Sobre el Congreso-->
<div class="container p-5">
    <div class="row">
        <div class="col-lg-6 text-center">
            <img class="imagenConfe img-fluid" src="/Imagenes/ImagenSenior.JPG" />
        </div>
        <div class="col-lg-6">
            <div class="row">
                <h2 class="fs-1">
                    Sobre el congreso
                </h2>
            </div>
            <div class="row">
                <p class="fs-5">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vitae molestie justo. Praesent accumsan, purus sit amet tempus ornare, mi metus vehicula urna, vitae rhoncus sem dolor sit amet lacus. Pellentesque risus lacus, posuere nec ligula ut, faucibus viverra erat. Suspendisse non odio ipsum. Etiam a suscipit tellus. Pellentesque accumsan mauris quis lacinia dignissim.
                </p>
                <p class="fs-5">
                    Vestibulum eget malesuada tellus, a pellentesque nisl. Morbi neque ex, venenatis et risus in, mollis rhoncus ex. Praesent iaculis nisl ac dignissim efficitur. Sed vehicula et nisl vel egestas. Praesent ac arcu eu purus egestas tempor. Aliquam est metus, bibendum ultrices urna ac, consequat tristique eros.
                </p>
            </div>
        </div>
    </div>
</div>

