@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model HomeIndexViewModel
@{
    Layout = "~/Views/Shared/_LayoutInformativo.cshtml"; //Para la página informativa existe su propio Layout, es la página que alberga el index.cshtml
}

@await Html.PartialAsync("_Bienvenida") <!-- Subvista del banner de bienvenida, para cualquier modificación vease la subvista correspondiente-->

@await Html.PartialAsync("_SobreElCongreso") <!-- Subvista del apartado Sobre el congreso, para cualquier modificación vease la subvista correspondiente-->

@await Html.PartialAsync("_Conferencias") <!-- Subvista del apartado Sobre las conferencias y el banner de separación entre secciones, para cualquier modificación vease la subvista correspondiente-->
<!--Division para cambiar de seccion-->

<div class="row position-relative bannerDivision text-white d-flex align-items-center justify-content-center">

    <!-- La imagen de fondo como tal-->
    <div class="position-absolute top-0 start-0 w-100 h-100 imagenDivision"></div>

    <!-- El color rojo de fondo y la opacidad-->
    <div class="position-absolute top-0 start-0 w-100 h-100 opacity-75" style="background-color:rgb(170, 26, 45)"></div>

    <!-- Texto central -->
    <div class="container-fluid p-4 text-center z-1 d-flex flex-column align-items-center justify-content-center h-100">
        <div class="row text-center fs-1 fw-bold">
            CONFERENCISTAS PRESENTES
        </div>
        <div class="row text-center mb-3 lineaTitulo">
        </div>
        <div class="row text-center fs-4 fw-light">
            Cuyas voces inspiran
        </div>
    </div>
</div>

<!-- Apartado de los conferencistas, se le puede dar click a su imagen y se abre un modal con toda la información del conferencista -->
    <!-- Fotografía de los conferencista, con párrafos donde irán sus nombres y profesión -->

<div class="container mt-5">
    <div class="row text-center my-2">
        <div class="col-md-4 justify-content-center">
            <svg data-bs-toggle="modal" data-bs-target="#infoConferencista1" xmlns="http://www.w3.org/2000/svg" width="210" height="210" fill="currentColor" class="bi bi-person-fill text-white fondoConferencista" viewBox="0 0 16 16">
                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
            </svg>
            <div class="row subtituloConferencista mt-2">
                <div class="col-12">
                    <p>
                        Nombre Conferencista
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p>
                        Profesión Conferencista
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal del conferencista -->
    <div class="modal fade" id="infoConferencista1" tabindex="-1" aria-labelledby="tituloModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="tituloModal">Nombre conferencista 1</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row text-center justify-content-center">
                                <div class="col-12 text-white  my-2 justify-content-center align-content-center" data-bs-toggle="modal" data-bs-target="#infoConferencista">
                                <svg xmlns="http://www.w3.org/2000/svg" width="175" height="175" fill="currentColor" class="bi bi-person-fill fondoConferencista" viewBox="0 0 16 16">
                                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                                    </svg>
                                </div>
                                <div class="row text-center">
                                    <p class="text-center">
                                        Profesión Conferencista
                                    </p>
                                </div>
                                <div class="row text-start mb-3">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vitae consequat orci. Donec in turpis ac ex sagittis blandit. 
                                    Sed aliquet tristique libero, non vehicula velit fermentum egestas. Aliquam placerat metus elementum lorem interdum egestas. 
                                    Integer a facilisis dui, ut bibendum nunc. In tempus fringilla tristique. 
                                    Quisque tristique auctor diam in volutpat. Vivamus eu mi id orci ornare cursus. Etiam eget est sagittis, venenatis quam sed, euismod tellus.
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>